<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>giovanni-githubhub</string>
	<key>connections</key>
	<dict>
		<key>973E5E89-CCD1-4107-9419-806CE477F513</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4F3DB6C4-D18B-4592-AAD5-7AC06F12AAAD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>giovanni</string>
	<key>description</key>
	<string>A hub for your Github repositories</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>GithubHub</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>!!</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Please wait while I retrieve your info from GitHub and generate plots...⏳</string>
				<key>script</key>
				<string>export PATH=/opt/homebrew/bin:/usr/local/bin:$PATH
python3 github.py "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Show github repositories stats</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>973E5E89-CCD1-4107-9419-806CE477F513</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>4F3DB6C4-D18B-4592-AAD5-7AC06F12AAAD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>A customizable dashboard for your GitHub repositories</string>
	<key>uidata</key>
	<dict>
		<key>4F3DB6C4-D18B-4592-AAD5-7AC06F12AAAD</key>
		<dict>
			<key>xpos</key>
			<real>1015</real>
			<key>ypos</key>
			<real>425</real>
		</dict>
		<key>973E5E89-CCD1-4107-9419-806CE477F513</key>
		<dict>
			<key>xpos</key>
			<real>735</real>
			<key>ypos</key>
			<real>425</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string>Your GitHub username</string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>GitHub username</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>myUsername</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string>Your GitHub access token</string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>GitHub API Token</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>myAPIkey</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>1</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>in days</string>
			<key>label</key>
			<string>Refresh rate 🔄</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>RefreshRate</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<true/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string></string>
			</dict>
			<key>description</key>
			<string>Show Downloads?</string>
			<key>label</key>
			<string>⬇️</string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>downCheck</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<false/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>Show Forks?</string>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Forks</string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>forkCheck</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<false/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string></string>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Show Issues?</string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>issueCheck</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<false/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>Show Stars?</string>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>⭐</string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>starCheck</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<false/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>👀</string>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Show Watchers?</string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>watchCheck</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>filtermode</key>
				<integer>1</integer>
				<key>placeholder</key>
				<string>Default: workflow cache</string>
				<key>required</key>
				<false/>
			</dict>
			<key>description</key>
			<string>By default this JSON object is stored in the Workflow cache folder. Since it is built over time, it might be preferred to store it somewhere else.</string>
			<key>label</key>
			<string>Folder to store your history</string>
			<key>type</key>
			<string>filepicker</string>
			<key>variable</key>
			<string>HISTORY_FOLDER</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>Plot</string>
				<key>pairs</key>
				<array>
					<array>
						<string>Repo main page</string>
						<string>Repo</string>
					</array>
					<array>
						<string>Repo issues page</string>
						<string>Issues</string>
					</array>
					<array>
						<string>Downloads Plot</string>
						<string>Plot</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string>What you'd like to see when pressing ⇧</string>
			<key>label</key>
			<string>Quicklook</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>PreviewPref</string>
		</dict>
	</array>
	<key>version</key>
	<string>0.1</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
