<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>alfred-hubhub</string>
	<key>category</key>
	<string>myWorkflows</string>
	<key>connections</key>
	<dict>
		<key>49FBBF0D-7064-4E03-B373-6C07CDBC061D</key>
		<array/>
		<key>61A07171-B7C8-4263-9C8D-B0372B80FAE0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>973E5E89-CCD1-4107-9419-806CE477F513</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>973E5E89-CCD1-4107-9419-806CE477F513</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4F3DB6C4-D18B-4592-AAD5-7AC06F12AAAD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>giovanni</string>
	<key>description</key>
	<string>A hub for your GitHub repositories</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>alfred-hubHub</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>{var:refreshkeyword}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Please wait while I retrieve your info from GitHub ...⏳</string>
				<key>script</key>
				<string>export PATH=/opt/anaconda3/bin/:/opt/homebrew/bin:/usr/local/bin:$PATH
export PYTHONPATH="$PWD/lib"
python3 refresh.py </string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Force alfred-hubHub refresh</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>49FBBF0D-7064-4E03-B373-6C07CDBC061D</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>{var:mainkeyword}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Please wait while I retrieve your info from GitHub ...⏳</string>
				<key>script</key>
				<string>export PATH=/opt/anaconda3/bin/:/opt/homebrew/bin:/usr/local/bin:$PATH
export PYTHONPATH="$PWD/lib"

python3 github.py "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Show your GitHub repositories stats</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>973E5E89-CCD1-4107-9419-806CE477F513</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>32</integer>
				<key>hotmod</key>
				<integer>1310720</integer>
				<key>hotstring</key>
				<string>U</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>61A07171-B7C8-4263-9C8D-B0372B80FAE0</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>4F3DB6C4-D18B-4592-AAD5-7AC06F12AAAD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># alfred-hubHub 🖥️
### A customizable [Alfred](https://www.alfredapp.com/) hub for your GitHub repositories
Complete readme [here](https://github.com/giovannicoppola/alfred-hubHub)

## Setting up ⚙️

- Alfred with Powerpack license
- Python3 (howto [here](https://www.freecodecamp.org/news/python-version-on-mac-update/))
- a [GitHub](https://github.com/) account
- a [GitHub](https://github.com/) API token (Instructions on how to obtain one are [here](https://docs.github.com/en/authentication/keeping-your-account-and-data-secure/creating-a-personal-access-token)
- Optional: `matplotlib` and `pandas` libraries (`python3 -m pip install -U matplotlib` and `python3 -m pip install -U pandas`) are needed to get download charts.

## Default settings 
- In Alfred, open the 'Configure Workflow' menu in `alfred-hubHub` preferences
	- set GitHub username and token (**required**)
	- select the relevant checkbox, if you want to show:
		- Downloads ⬇️
		- Issues 🚨
		- Stars ⭐
		- Forks 🌿
		- Watchers 👀
	- Optional: Change the database refresh frequency in days (default: 1 day)
	- Optional: Change the location of the database (default: workflow cache folder)
	- Optional: Change the Quicklook behavior (Repo main page, Repo Issues, Downloads chart). Default: download charts, or repo main page if charts disables. When sorted by issues (`--i` tag) Quicklook and Enter go to repo issues page. 
	- Optional: Disable chart generation 
	- Optional: Change workflow keywords


## Basic Usage 📖

- launch with keyword (default: `hubhub`), or custom hotkey
- `--i` will sort by issues
- `--c` will only show changed repositories from previous save
- `enter` ↩️ will open the repository on `github.com/`, unless the `--i` tag is used, in which case it open repo issues
- `shift` ⇧ will show a preview based on user's preferences (default: download charts, or repo page if no charts)

### Refreshing the database 🔄
- database will refresh as indicated by the `UPDATE_DAYS` variable. 
- launch `hubhub:refresh` to force database refresh</string>
	<key>uidata</key>
	<dict>
		<key>49FBBF0D-7064-4E03-B373-6C07CDBC061D</key>
		<dict>
			<key>xpos</key>
			<real>735</real>
			<key>ypos</key>
			<real>280</real>
		</dict>
		<key>4F3DB6C4-D18B-4592-AAD5-7AC06F12AAAD</key>
		<dict>
			<key>xpos</key>
			<real>1015</real>
			<key>ypos</key>
			<real>425</real>
		</dict>
		<key>61A07171-B7C8-4263-9C8D-B0372B80FAE0</key>
		<dict>
			<key>xpos</key>
			<real>505</real>
			<key>ypos</key>
			<real>425</real>
		</dict>
		<key>973E5E89-CCD1-4107-9419-806CE477F513</key>
		<dict>
			<key>xpos</key>
			<real>735</real>
			<key>ypos</key>
			<real>425</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>GitHub username</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>myUsername</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>from https://github.com/user/settings/tokens</string>
			<key>label</key>
			<string>GitHub API Token</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>myAPIkey</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>1</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>in days</string>
			<key>label</key>
			<string>Refresh rate</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>RefreshRate</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<true/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>Show Downloads?</string>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>⬇️</string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>downCheck</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<false/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>Show Issues?</string>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>🚨</string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>issueCheck</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<false/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>Show Stars?</string>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>⭐</string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>starCheck</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<false/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>Show Forks?</string>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>🌿</string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>forkCheck</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<false/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>Show Watchers?</string>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>👀</string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>watchCheck</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>filtermode</key>
				<integer>1</integer>
				<key>placeholder</key>
				<string>Default: workflow cache</string>
				<key>required</key>
				<false/>
			</dict>
			<key>description</key>
			<string>By default this JSON object is stored in the Workflow cache folder. Since it is built over time, it might be preferred to store it somewhere else to backup etc.</string>
			<key>label</key>
			<string>Folder to store your history</string>
			<key>type</key>
			<string>filepicker</string>
			<key>variable</key>
			<string>HISTORY_FOLDER</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>Plot</string>
				<key>pairs</key>
				<array>
					<array>
						<string>Repo main page</string>
						<string>Repo</string>
					</array>
					<array>
						<string>Repo issues page</string>
						<string>Issues</string>
					</array>
					<array>
						<string>Downloads Chart</string>
						<string>Plot</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string>What you'd like to see when pressing ⇧. Issues are shown when filtered</string>
			<key>label</key>
			<string>Quicklook</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>PreviewPref</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<false/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>Generate Charts?</string>
			</dict>
			<key>description</key>
			<string>Will need `matplotlib` installed</string>
			<key>label</key>
			<string>📈</string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>chartPref</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<false/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>Show changed items only?</string>
			</dict>
			<key>description</key>
			<string>Open showing only changed items (`--a` to override)</string>
			<key>label</key>
			<string>🆕</string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>openPref</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>hubhub</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Main Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>mainkeyword</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>hubhub:refresh</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Refresh keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>refreshkeyword</string>
		</dict>
	</array>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>0.9.6</string>
	<key>webaddress</key>
	<string>https://github.com/giovannicoppola/alfred-hubHub</string>
</dict>
</plist>
