<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>issueCheck</key>
	<true/>
	<key>myAPIkey</key>
	<string>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</string>
	<key>myUsername</key>
	<string>giovannicoppola</string>
	<key>starCheck</key>
	<true/>
	<key>watchCheck</key>
	<true/>
</dict>
</plist>
